body{
  margin: 0;
}

.header{
  display: flex;
  justify-content: center;
  background-color: #3f4e9c;
  padding: 25px;
}

.header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}

.section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-head, .section-content{
  width: 1200px;
}

.section-head{
  text-align: center;
}

.section-content{
  font-size: 16px;
}